.container {
  max-width: 1000px;
}

.navbar-default {
  margin-bottom: 0px;
}

div.whole {
  background: url(../images/header-bg.jpg) center top no-repeat;
  background-size: cover;
  background-attachment: scroll;
  padding-top: 300px;
  padding-bottom: 300px;
}

div.paragraph {
  background-color: #fff;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

p.cre {
  font-family: "Arial black", "宋体", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 90px;
  line-height: 1;
  padding: 70px 60px 25px 60px;
  margin-bottom: 0px;
}

.arrow {
  text-align: center;
  padding-bottom: 25px;
}

a.scrollto {
  font-size: 80px;
  line-height: 0.5;
  text-align: center;
  color: #2F2E4F;
}

#services {
  padding: 120px 0 100px 0;
}

#services .container {
  max-width: 950px
}

.title h4 {
  font-family: "Microsoft YaHei", "宋体", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 4px;
  text-indent: 6px;
  color: #2f2e2e;
}

.title div {
  height: 3px;
  width: 40px;
  background-color: #f7931d;
  margin: 20px auto 35px auto;
}

.service-item {
  margin-top: 40px;
  padding: 35px;
  text-align: center;
}

.service-icon {
  font-size: 56px;
  width: 120px;
  height: 120px;
  margin: 20px auto;
  line-height: 1.3;
}

.service-item h4 {
  margin-top: -50px;
  margin-bottom: 40px;
}

.service-item p {
  max-width: 160px;
  margin: auto;
  line-height: 1.6;
}

#portfolio .container {
  max-width: 1170px;
}

.advertisement {
  padding: 5px;
}

.picture {
  width: 100%;
}

#about {
  padding: 120px 0 145px 0;
}

#about .container {
  max-width: 900px;
}

#about .logo {
  margin-top: 100px;
}

#about .logo h1 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0;
  margin: 0;
  font-size: 65px;
  line-height: 0.87;
  font-weight: bold;
}

#about .logo h1 span {
  display: block;
}

#about .logo h4 {
  font-family: "Microsoft YaHei", "宋体", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 4px;
  text-indent: 4px;
}

#about .addr address {
  margin: 15px 0 0 4px;
  letter-spacing: 2px;
}

#about .slogon {
  margin-top: 100px;
  padding-left: 0;
  letter-spacing: 1px;
}

#about .city img {
  width: 100%;
  max-height: 70px;
  margin-top: 0px;
}

#contact {
  background: url(../images/footer-bg.jpg) center top no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#contact .dark-bg {
  padding: 90px 0 120px 0;
  background-color: rgba(47,46,46,0.7);
  color: #fff;
}

#contact .clients {
  margin-bottom: 50px;
}

#contact .clients img {
  width: 130px;
}

#contact .carousel-inner {
  padding-bottom: 65px;
}

#contact .container-icon {
  margin-top: 10px;
  font-size: 38px;
}

#contact .item p {
  margin: 25px 100px;
  font-size: 15px;
  line-height: 1.8;
}

#contact .item h4 {
  font-size: 16px;
}

#contact .contact-btn img {
  margin: 40px 0 20px 0;
  width: 180px;
  height: 180px;
}

#contact .contact-btn h4 {
  font-size: 16px;
  line-height: 1.5;
}

#contact .contact-btn p {
  font-size: 16px;
  margin: 5px;
  line-height: 1.8;
}

footer {
  background-color: #2f2e2e;
  color: #999;
  padding: 30px 0;
  line-height: 1.6;
}
